@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-hover table-striped table-bordered text-center">
    <tr>
        <th>
            Name
        </th>
        <th>
            Arabic Name
        </th>
        <th>
            Student ID
        </th>
        <th>
            Git
        </th>
        <th>
            Class
        </th>
    </tr>
    <tr>
        <td>Hussam Habbal</td>
        <td>حسام حبال</td>
        <td>Husam_174647</td>
        <td>HMB-WebDev</td>
        <td>C3</td>
    </tr>
    <tr>
        <td>MHD Adnan Diab</td>
        <td>محمد عدنان دياب</td>
        <td>mhd_adnan_144588</td>
        <td>iadnan-diab</td>
        <td>C3</td>
    </tr>
    <tr>
        <td>Leen Kesrawi</td>
        <td>لين كسراوي</td>
        <td>leen_128947</td>
        <td>leenkesrawi</td>
        <td>C3</td>
    </tr>
    <tr>
        <td>Nijad Alkhoury</td>
        <td>نجاد الخوري</td>
        <td>nijad_203834</td>
        <td>Nijad</td>
        <td>C3</td>
    </tr>
</table>
