@{
    ViewData["Title"] = "Schedule Exams";
}

<div class="col-12 card p-0">
    <div class="card-header">
        <h2>Schedule Exams</h2>
    </div>
    <div class="card-body row">
        <div class="col-5 border-end">
            <label>
                <input type="checkbox" id="enable" />
                Generate Time Slots
            </label>
            <div class="border py-3 mt-1 rounded">
                <div class="col-10 offset-1">
                    <div class="row">
                        <div class="col-6">
                            <label>Exam Duration</label>
                            <input id="examDuration" disabled type="number" step="0.25" min="0.5" max="5" value="1.5" class="form-control default-disabled" />
                        </div>
                        <div class="col-6">
                            <label>Gap Between Exams</label>
                            <input id="gap" disabled type="number" step="0.25" min="0.25" max="1" value="0.25" class="form-control default-disabled" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Start Exam Date</label>
                            <input id="startDate" disabled type="date" class="form-control default-disabled" />
                        </div>
                        <div class="col-6">
                            <label>Last Exam Date</label>
                            <input id="lastDate" disabled type="date" class="form-control default-disabled" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Exams per Day</label>
                            <input id="examPerDay" disabled type="number" step="1" min="1" max="6" value="4" class="form-control default-disabled" />
                        </div>
                        <div class="col-6">
                            <label>Holidays</label>
                            <select id="holidays" disabled class="form-select default-disabled" data-placeholder="Choose holiday" multiple>
                                <option value="0">Sunday</option>
                                <option value="1">Monday</option>
                                <option value="2">Tuesday</option>
                                <option value="3">Wednesday</option>
                                <option value="4">Thursday</option>
                                <option value="5">Friday</option>
                                <option value="6">Saturday</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 offset-1">
            <label>Course</label>
            <input type="file" id="course" name="course" class="form-control file" />

            <label>Students</label>
            <input type="file" id="student" name="student" class="form-control file" />

            <label>Rooms</label>
            <input type="file" id="room" name="room" class="form-control file" />

            <label>Time Slot</label>
            <input type="file" id="timeSlot" name="timeSlot" class="form-control file default-enabled" />
            <div class="row">
                <div class="col-6">
                    <label>Population Size</label>
                    <input type="number" min="10" max="100" step="10" value="10" class="form-control" id="popSize" />
                </div>
                <div class="col-6">
                    <label>Max Generations</label>
                    <input type="number" min="100" max="1000000" step="100" value="100000" class="form-control" id="maxGen" />
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button id="upload" class="btn btn-primary">Calculate</button>
    </div>
</div>

<div id="result" class="card card-body mt-3" style="display:none"></div>

<script>
    $('#holidays').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
        closeOnSelect: false,
    });

    $("#enable").on("change", function () {
        enable($(this).prop("checked"));
    });

    function enable(enable) {
        if (enable) {
            $(".default-disabled").prop("disabled", false);
            $(".default-enabled").prop("disabled", true);
        } else {
            $(".default-disabled").prop("disabled", true);
            $(".default-enabled").prop("disabled", false);
        }
    }

    $("#upload").on("click", uploadFiles);

    $(document).ajaxStart(function () {
        $("#upload").prop("disabled", "disabled");
        $('#result').show().html("<div class='alert alert-success'>Pleas wait... I'm working</div>").addClass("text-center");
    });

    $(document).ajaxStop(function () {
        $("#result").removeClass("text-center");
        $("#upload").prop("disabled", "");
        $('html, body').animate({
            scrollTop: $("#result").offset().top
        }, 2000);
    });

    function uploadFiles() {
        var inputs = $(".file");

        var formData = new FormData();

        for (var i = 0; i != inputs.length; i++) {
            var files = inputs[i].files;
            formData.append("files", files[0]);
        }
        formData.append("populationSize", $("#popSize").val());
        formData.append("MaxGenerations", $("#maxGen").val());
        formData.append("CalculateTimeSlot", $("#enable").prop("checked"));
        formData.append("examDuration", $("#examDuration").val());
        formData.append("gap", $("#gap").val());
        formData.append("startDate", $("#startDate").val());
        formData.append("lastDate", $("#lastDate").val());
        formData.append("examPerDay", $("#examPerDay").val());
        formData.append("holidays", $("#holidays").val());
        $.ajax(
            {
                url: "/upload",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",

                success: function (result) {
                    $("#result").html(result);
                },
                error: function (error) {
                    const obj = JSON.parse(error.responseText);
                    alert(obj.msg);
                }
            }
        );
    }
</script>